openapi: 3.0.3
info:
  title: Product Collections
  description: Products collection API allows users to search for products across a wide range of marketplaces by brand.
  version: '1.0'
  contact:
    name: Cluster Support
    email: support@datacluster.com
servers:
  - url: 'https://api.datacluster.com'
tags:
  - name: Sync endpoints
  - name: Report
paths:
  /v4/products:
    get:
      tags:
        - Sync endpoints
      operationId: get-products-collection
      summary: Get products collection
      description: |-
        This is a synchronous API endpoint. This endpoint returns a product list according to the brand and marketplaces provided.
        <br/><br/>[**Don't miss our schemas**](./ZG9jOjE4MzgyNTcx-our-schemas)'
      parameters:
        - name: local
          required: false
          description: the local of the product.
          in: query
          schema:
            $ref: ../models/common/Locals.v1.yaml
            default: US
        - name: brandId
          in: query
          description: 'Algopix unique Brand Id [(see "Get Brands by brand name" endpoint)](./b3A6MTgwOTAyOTE-get-brands-by-brand-name).'
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: brandName
          in: query
          description: 'The name of the brand'
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: manufacturerName
          in: query
          description: 'The name of the manufacturer'
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: categories
          in: query
          description: Comma-delimited list of category ids.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: AdditionalFields
          in: query
          description: Using that resource, the response will include the product identifiers.
          required: false
          schema:
            $ref: ../models/products-collection/AdditionalFields.v1.yaml
        - name: excludeCategories
          in: query
          description: Comma-delimited list of category ids to exclude.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: maxItems
          description: Set a max number of items to return in the collection.
          in: query
          style: form
          explode: false
          schema:
            type: integer
        - name: contextKey
          description: A key which was returned when making the initial request for products. This key is used to retreive the following results pages.
          in: query
          explode: false
          style: form
          schema:
            type: string
          required: false
        - name: pageNumber
          description: The page number of the results to retreive. This parameter must be used in tandem with contextKey
          in: query
          explode: true
          schema:
            type: integer
          required: false
        - name: resources
          description: comma delimited resource list to include in the response.
          in: query
          explode: false
          schema:
            $ref: ../models/products-collection/ResourceType.v1.yaml
        - name: X-API-KEY
          schema:
            type: string
          in: header
          required: true
          description: 'Read our [Authentication](./ZG9jOjE3ODE1Mjg1-authentication) article'
        - name: X-APP-ID
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          description: 'SUCCESS.</br>**Note: Examples were generated with mock data.**'
          content:
            application/json:
              schema:
                $ref: ../models/products-collection/ProductsCollectionApiResponse.v1.yaml
              examples:
                Response Example:
                  value:
                    timestamp: 1610533241
                    status: SUCCESS
                    statusMessage: Ok
                    statusCode: 200
                    requestId: efb6cfea-4921-40c3-941a-7977d84f12f7
                    result:
                      totalPages: 9
                      products:
                        - aid: AIDVM8W02001
                          parentAid: AIDVM8W02001
                          title: adidas Men's Adilette Shower Slides
                          marketPrice:
                            currencyCode: USD
                            amount: 65
                          imageUrl: 'https://m.media-amazon.com/images/I/31p8fsS9UdL._SL160_.jpg'
                          variants:
                            - aid: string
                              parentAid: string
                              title: string
                              marketPrice:
                                currencyCode: string
                                amount: 0
                              imageUrl: string
                              variants:
                                - {}
                      contextKey: efb6cfea-4921-40c3-941a-7977d84f12f7
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
        security:
          - apiKey: []
            appId: []
  /v4/products/reports:
    post:
      tags:
        - Report
      operationId: create-products-collection-report
      summary: Create a products report
      description: |-
        Request creating a products report. This endpoint triggers the background creation of a report. Use the ["Get report status"](./b3A6MTgwOTAzMDA-get-report-status) endpoint to get the status of the report generation. use the ["Get ready report"](./b3A6MTgwOTAzMDE-get-ready-report) endpoint to download the report.
        <br/><br/>[**Don't miss our schemas**](./ZG9jOjE4MzgyNTcx-our-schemas)
      parameters:
        - name: local
          required: false
          in: query
          description: The local of the product.
          schema:
            $ref: ../models/common/Locals.v1.yaml
            default: US
        - name: brandId
          in: query
          description: Unique identifier for a brand.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: brandName
          in: query
          description: 'The name of the brand'
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: manufacturerName
          in: query
          description: 'The name of the manufacturer'
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: categories
          in: query
          description: List of comma delimited [amazon category ids](https://algopix.com/taxonomy/amazon_browse_node_info_US.txt) by locale.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: resources
          description: comma delimited resource list to include in the response.
          in: query
          explode: false
          schema:
            $ref: ../models/products-collection/ResourceType.v1.yaml
        - name: AdditionalFields
          in: query
          description: Using that resource, the response will include the product identifiers.
          required: false
          schema:
            $ref: ../models/products-collection/AdditionalFields.v1.yaml
        - name: excludeCategories
          in: query
          description: List of comma delimited [amazon category ids](https://algopix.com/taxonomy/amazon_browse_node_info_US.txt) by locale to exclude.
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: maxItems
          description: Set a max number of items to return in the collection.
          in: query
          style: form
          explode: false
          schema:
            type: integer
        - name: X-API-KEY
          schema:
            type: string
          in: header
          required: true
          description: 'Read our [Authentication](./ZG9jOjE3ODE1Mjg1-authentication) article'
        - name: X-APP-ID
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          description: 'SUCCESS.</br>**Note: Examples were generated with mock data.**'
          content:
            application/json:
              schema:
                $ref: ../models/products-collection/ProductsCollectionCreateReportResponse.v1.yaml
              examples:
                Response Example:
                  value:
                    timestamp: 1610533241
                    status: SUCCESS
                    statusCode: 200
                    statusMessage: Ok
                    requestId: efb6cfea-4921-40c3-941a-7977d84f12f7
                    result:
                      reportId: 01f33a78-6948-47b3-8dbc-e431e1s37998
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
        security:
          - apiKey: []
            appId: []
  /v4/products/reports/status:
    get:
      tags:
        - Report
      operationId: get-products-collection-report-status
      summary: Get report status
      description: Get all report status.<br>[**Don't miss our schemas**](./ZG9jOjE4MzgyNTcx-our-schemas)
      parameters:
        - name: reportId
          description: Report identifier
          in: query
          style: form
          explode: false
          schema:
            type: string
        - name: X-API-KEY
          schema:
            type: string
          in: header
          required: true
          description: 'Read our [Authentication](./ZG9jOjE3ODE1Mjg1-authentication) article'
        - name: X-APP-ID
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          description: 'SUCCESS.</br>**Note: Examples were generated with mock data.**'
          content:
            application/json:
              schema:
                $ref: ../models/products-collection/ProductsCollectionReportStatusResponse.v1.yaml
              examples:
                Response Example:
                  value:
                    timestamp: 1610533241
                    status: SUCCESS
                    statusCode: 200
                    statusMessage: Ok
                    requestId: efb6cfea-4921-40c3-941a-7977d84f12f7
                    result:
                      reports:
                        - id: b0cded8c-e3d5-4e57-9114-0bd09ce2d5c1
                          status: IN_PROGRESS
                          type: PRODUCTS_COLLECTION
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
        security:
          - apiKey: []
            appId: []
  '/v4/products/reports/{reportId}':
    get:
      tags:
        - Report
      summary: Get ready report
      description: This endpoint returns collection report file.<br>[**Don't miss our schemas**](./ZG9jOjE4MzgyNTcx-our-schemas)
      operationId: get-products-collection-report
      parameters:
        - name: reportId
          in: path
          schema:
            type: string
          required: true
        - name: X-API-KEY
          schema:
            type: string
          in: header
          required: true
          description: 'Read our [Authentication](./ZG9jOjE3ODE1Mjg1-authentication) article'
        - name: X-APP-ID
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          description: Success – return zipped csv file.
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
          appId: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
      description: 'Read our [Authentication](./ZG9jOjE3ODE1Mjg1-authentication) article'
    appId:
      type: apiKey
      name: X-APP-ID
      in: header
