openapi: 3.0.3
info:
  title: Listings Promotions Information
  description: Listings Promotions Information API provides promotional data in specified Amazon listings by AID or ASIN.
  termsOfService: 'https://datacluster.com/privacy-policy'
  contact:
    name: Cluster Support
    email: support@datacluster.com
  version: '1.0'
servers:
  - url: 'https://api.datacluster.com'
    description: Cluster API
tags:
  - name: Products promotions endpoints
paths:
  /v3/async/promotions:
    get:
      tags:
        - Products promotions endpoints
      description: |-
        This is an asynchronous API endpoint. This endpoint searches promotional data in specified Amazon listings by AID or ASIN. The results may be retrieved from [Products promotions results](../~1v3~1async~1promotions~1results/get).
        <br/>Please notice our [“How to Handle an asynchronous Response”](/docs/Making-a-request/How-to-use-the-async-API.md) article.
        <br/>[**Don't miss our schemas**](/docs/Making-a-request/Our-schemas.md)
      operationId: request-products-promotions
      summary: Request products promotions
      parameters:
        - name: productId
          in: query
          description: 'Currently available AID (Cluster Identifier) or ASIN. Identify which was applied in productIdType below.'
          required: true
          explode: false
          schema:
            type: string
        - name: productIdType
          in: query
          description: The identifier type that was parsed as the id. currently supported ASIN and AID
          required: true
          explode: true
          schema:
            type: string
            enum:
              - ASIN
              - AID
        - name: market
          in: query
          description: Market to search (default is amazon_us).
          required: true
          explode: false
          schema:
            type: string
            enum:
              - AMAZON_US
      responses:
        '200':
          $ref: '../models/common/responses/statuscode200.v1.yaml'
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
          appId: []
  /v3/async/promotions/results:
    get:
      tags:
        - Products promotions endpoints
      summary: Products promotions results
      description: |-
        This is an asynchronous API endpoint. This endpoint retrieves the results of the search from the endpoint [Request products promotions](../~1v3~1async~1promotions/get).
        <br/>Please notice our [“How to Handle an asynchronous Response”](/docs/Making-a-request/How-to-use-the-async-API.md) article.
        <br/>[**Don't miss our schemas**](/docs/Making-a-request/Our-schemas.md)
      operationId: products-promotions-results
      responses:
        '200':
          description: Success.</br>**Notice - our examples were generate with mock data**
          content:
            application/json:
              schema:
                $ref: ../models/products-promotions/ProductPromotionsResults.v1.yaml
              examples:
                Response Example:
                  value:
                    timestamp: 1610532938
                    status: SUCCESS
                    statusMessage: Ok
                    statusCode: 200
                    requestId: 49735463-e4b6-4960-bd83-7c90043bd14a
                    asyncApiStatus:
                      resultsReadyCount: 3
                      pendingRequestCount: 0
                    responseList:
                      - timestamp: 1610532838
                        status: SUCCESS
                        statusMessage: Ok
                        statusCode: 200
                        requestId: 49735463-e4b6-4960-bd83-7c90043bd14b
                        result:
                          aid: AIDSNOFJ1000
                          ids:
                            ASIN:
                              - "05457908495"
                          AMAZON_US:
                            marketSpecificProductTitle: >
                              Amazon Basics 48 Pack AA High-Performance Alkaline Batteries, 10-Year Shelf Life, Easy to Open Value Pack
                            promotions:
                              sns:
                                amount: 14.24
                                displayAmount: "$14.24 (5%)"
                                pricePerUnit: 0.3
                                discountPercent: 14.24
                                currency: USD
                                recommendedFrequency: 4 months
                              coupons:
                                - amount: 0
                                  type: percentage
                                  currency: USD
                              programEligibility:
                                isPrimeExclusive: true
                                isPrimePantry: true
                            recommendations:
                              frequentlyBoughtTogether:
                                - string
                              frequentlyViewedTogether:
                                - string
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
          appId: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
      description: Read our [Authentication](/docs/Making-a-request/Authentication.md) article
    appId:
      type: apiKey
      name: X-APP-ID
      in: header