openapi: 3.0.1
info:
  title: Buy Box Owners API
  description: Buy Box Owners API provides insights for sellers selling a specific product.
  termsOfService: 'https://datacluster.com/privacy-policy'
  contact:
    name: Cluster Support
    email: support@datacluster.com
  version: '2'
servers:
  - url: 'https://api.datacluster.com'
    description: Cluster API
tags:
  - name: Async endpoints
paths:
  /v3/async/sellers/buyboxowners:
    get:
      description: |-
        This is an asynchronous API endpoint. This endpoint searches info about the sellers that sell an specified item (given a specified item identifier) for a given marketplace. The results may be retrieved from [Buy Box Owners results](./b3A6MTgxMDkwMDM-buy-box-owners-results).
        <br/><br/>Please notice our [“How to Handle an asynchronous Response”](./ZG9jOjE3ODE1Mjg3-how-to-use-the-async-api) article.
        <br/><br/>[**Don't miss our schemas**](./ZG9jOjE4MzgyNTcx-our-schemas)
      operationId: request-products-sellers
      tags:
        - Async endpoints
      summary: Buy Box Owners request
      parameters:
        - name: productId
          in: query
          required: true
          explode: false
          schema:
            type: string
        - name: productIdType
          in: query
          description: 'indicates the type of the Id sent under "ids", currently supported types are : ASIN, EBAY_ITEM_ID, WALMART_ITEM_ID, AID'
          required: true
          style: form
          explode: false
          schema:
            type: string
            enum:
              - ASIN
              - AID
              - EBAY_ITEM_ID
              - WALMART_ITEM_ID
        - name: markets
          in: query
          description: 'Comma-delimited market list to search for item matching the given input. Up to three markets can be specified. If no value is specified, the default used is amazon_us. Currently available Markets of Amazon, eBay and Walmart'
          required: true
          style: form
          explode: false
          schema:
            type: string
            enum:
              - AMAZON_US
              - EBAY_US
              - WALMART_US
              - AMAZON_CA
              - AMAZON_FR
              - AMAZON_DE
              - AMAZON_UK
              - AMAZON_AU
              - AMAZON_IT
              - AMAZON_MX
              - AMAZON_ES
        - name: resources
          in: query
          description: 'Additional data points added to the request. In this version,only SellerDetails information is being supported'
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - SellerDetails
        - name: X-API-KEY
          schema:
            type: string
          in: header
          required: true
          description: 'Read our [Authentication](./ZG9jOjE3ODE1Mjg1-authentication) article'
        - name: X-APP-ID
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          $ref: '../models/common/responses/statuscode200.v1.yaml'
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
#      security:
#        - apiKey: []
#          appId: []
  /v3/async/sellers/buyboxowners/results:
    get:
      tags:
        - Async endpoints
      summary: Buy Box Owners results
      description: |-
        This is an asynchronous API endpoint. This endpoint retrieves the results of the asynchronous search from the endpoint [Request Buy Box Owners](./b3A6MTgxMDkwMDI-request-buy-box-owners).
        <br/><br/>Please notice our [“How to Handle an asynchronous Response”](./ZG9jOjE3ODE1Mjg3-how-to-use-the-async-api) article.
        <br/><br/>[**Don't miss our schemas**](./ZG9jOjE4MzgyNTcx-our-schemas)
      operationId: products-sellers-results
      parameters:
        - name: X-API-KEY
          schema:
            type: string
          in: header
          required: true
          description: 'Read our [Authentication](./ZG9jOjE3ODE1Mjg1-authentication) article'
        - name: X-APP-ID
          schema:
            type: string
          in: header
          required: true
      responses:
        '200':
          description: 'SUCCESS</br>**Note: Examples were generated with mock data.**'
          content:
            application/json:
              schema:
                $ref: ../models/products-sellers/ProductSellersResults.v1.yaml
              examples:
                Response Example:
                  value:
                    timestamp: 1628507562
                    status: SUCCESS
                    statusMessage: Ok
                    statusCode: 200
                    requestId: 28ce74ac-3b44-4186-94b1-15b643453a2e
                    asyncApiStatus:
                      resultsReadyCount: 3
                      pendingRequestCount: 0
                    responseList:
                      - timestamp: 1628507462
                        status: SUCCESS
                        statusMessage: Ok
                        statusCode: 200
                        requestId: 28ce74ac-3b44-4186-94b1-15b643453a2f
                        result:
                          aid: AIDLGDA02005
                          itemSellers:
                            AMAZON_US:
                              name: The Happy Bookstack
                              id: A1D62822NDM1RG
                              asin: "0545790357"
                              businessName: David Jacobs
                              businessAddress: 607 hwy 82 e. Bell buckle Tennessee 37020 US
                              offer:
                                price:
                                  currencyCode: USD
                                  amount: 0.0
                                priceSavings:
                                  amount:
                                    currencyCode: USD
                                    amount: 0.0
                                  percentage: 0
                                  pricePerUnit:
                                    currencyCode: USD
                                    amount: 0.0
                                promotions:
                                  - amount: 0.0
                                    currency: USD
                                    discountPercent: 0.0
                                    displayAmount: "0.0 ($)"
                                    pricePerUnit: 0.0
                                    type: string
                                deliveryInfo:
                                  isAmazonFulfilled: true
                                  isFreeShippingEligible: true
                                  isPrimeEligible: true
                                isBuyBoxWinner: true
                                programEligibility:
                                  primePantry: true
                              defaultShippingCountry: string
                              businessType: string
                              tradeRegisterNumber: string
                              vatNumber: string
                              objectType: AMAZON
                            WALMART_US:
                              objectType: WALMART
                              name: string
                              offer:
                                price:
                                  currencyCode: USD
                                  amount: 0.0
                                isFreeShippingEligible: true
                              walmartItemId: 0125648
                              defaultShippingCountry: string
                            EBAY_US:
                              id: string
                              name: string
                              businessName: string
                              businessType: string
                              tradeRegisterNumber: string
                              vatNumbers:
                                - string
                              businessAddress: string
                              defaultShippingCountries:
                                - string
                              objectType: EBAY
                              offer:
                                price:
                                  currencyCode: USD
                                  amount: 0.0
                                priceSavings:
                                  amount:
                                    currencyCode: USD
                                    amount: 0.0
                                  percentage: 0.0
                                  pricePerUnit:
                                    currencyCode: USD
                                    amount: 0.0
                                deliveryInfo:
                                  shippingTypes:
                                    - string
                                  isFreeShippingEligible: true
                              ebayListingId: string
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
#      security:
#        - apiKey: []
#          appId: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
      description: Read our [Authentication](./ZG9jOjE3ODE1Mjg1-authentication) article
    appId:
      type: apiKey
      name: X-APP-ID
      in: header