openapi: 3.0.1
info:
  title: Buy Box Owners API
  description: Buy Box Owners API provides insights for sellers selling a specific product.
  termsOfService: 'https://algopix.com/policies'
  contact:
    name: Algopix Support
    email: support@algopix.com
  version: '2'
servers:
  - url: 'https://api.algopix.com'
    description: Algopix API
tags:
  - name: Buy Box Owners endpoints
paths:
  /v3/async/sellers/buyboxowners:
    get:
      description: |-
        This is an asynchronous API endpoint. This endpoint searches info about the sellers that sell an specified item (given a specified item identifier) for a given marketplace. The results may be retrieved from [Buy Box Owners results](../~1v3~1async~1sellers~1buyboxowners~1results/get).
        <br/>Please notice our [“How to Handle an asynchronous Response”](/docs/Making-a-request/How-to-use-the-async-API.md) article.
        <br/>[**Don't miss our schemas**](/docs/Making-a-request/Our-schemas.md)
      operationId: request-products-sellers
      tags:
        - Buy Box Owners endpoints
      summary: Request Buy Box Owners
      parameters:
        - name: productId
          in: query
          required: true
          explode: false
          schema:
            type: string
        - name: productIdType
          in: query
          description: 'indicates the type of the Id sent under "ids", currently supported types are : ASIN, EBAY_ITEM_ID, WALMART_ITEM_ID, AID'
          required: true
          style: form
          explode: false
          schema:
            type: string
            enum:
              - ASIN
              - AID
              - EBAY_ITEM_ID
              - WALMART_ITEM_ID
        - name: markets
          in: query
          description: 'Comma-delimited market list to search for item matching the given input. Up to three markets can be specified. If no value is specified, the default used is amazon_us. Currently available Markets of Amazon, eBay and Walmart'
          required: true
          style: form
          explode: false
          schema:
            type: string
            enum:
              - AMAZON_US
              - EBAY_US
              - WALMART_US
              - AMAZON_CA
              - AMAZON_FR
              - AMAZON_DE
              - AMAZON_UK
              - AMAZON_AU
              - AMAZON_IT
              - AMAZON_MX
              - AMAZON_ES
        - name: resources
          in: query
          description: 'Additional data points added to the request. In this version,only SellerDetails information is being supported'
          required: false
          style: form
          explode: false
          schema:
            type: string
            enum:
              - SellerDetails
      responses:
        '200':
          $ref: '../models/common/responses/statuscode200.v1.yaml'
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
          appId: []
  /v3/async/sellers/buyboxowners/results:
    get:
      tags:
        - Buy Box Owners endpoints
      summary: Buy Box Owners results
      description: |-
        This is an asynchronous API endpoint. This endpoint retrieves the results of the asynchronous search from the endpoint [Request Buy Box Owners](../~1v3~1async~1sellers~1buyboxowners/get).
        <br/>Please notice our [“How to Handle an asynchronous Response”](/docs/Making-a-request/How-to-use-the-async-API.md) article.
        <br/>[**Don't miss our schemas**](/docs/Making-a-request/Our-schemas.md)
      operationId: products-sellers-results
      responses:
        '200':
          description: Successful operation.</br>**Notice - our examples were generate with mock data**
          content:
            application/json:
              schema:
                $ref: ../models/products-sellers/ProductSellersResults.v1.yaml
              examples:
                Response Example:
                  value:
                    timestamp: 1628507562
                    status: SUCCESS
                    statusMessage: Ok
                    statusCode: 200
                    requestId: 28ce74ac-3b44-4186-94b1-15b643453a2e
                    asyncApiStatus:
                      resultsReadyCount: 3
                      pendingRequestCount: 0
                    responseList:
                      - timestamp: 1628507462
                        status: SUCCESS
                        statusMessage: Ok
                        statusCode: 200
                        requestId: 28ce74ac-3b44-4186-94b1-15b643453a2f
                        result:
                          aid: AIDLGDA02005
                          itemSellers:
                            AMAZON_US:
                              name: The Happy Bookstack
                              id: A1D62822NDM1RG
                              asin: "0545790357"
                              businessName: David Jacobs
                              businessAddress: 607 hwy 82 e. Bell buckle Tennessee 37020 US
                              offer:
                                price:
                                  currencyCode: USD
                                  amount: 0.0
                                priceSavings:
                                  amount:
                                    currencyCode: USD
                                    amount: 0.0
                                  percentage: 0
                                  pricePerUnit:
                                    currencyCode: USD
                                    amount: 0.0
                                promotions:
                                  - amount: 0.0
                                    currency: USD
                                    discountPercent: 0.0
                                    displayAmount: "0.0 ($)"
                                    pricePerUnit: 0.0
                                    type: string
                                deliveryInfo:
                                  isAmazonFulfilled: true
                                  isFreeShippingEligible: true
                                  isPrimeEligible: true
                                isBuyBoxWinner: true
                                programEligibility:
                                  primePantry: true
                              defaultShippingCountry: string
                              businessType: string
                              tradeRegisterNumber: string
                              vatNumber: string
                              objectType: AMAZON
                            WALMART_US:
                              objectType: WALMART
                              name: string
                              offer:
                                price:
                                  currencyCode: USD
                                  amount: 0.0
                                isFreeShippingEligible: true
                              walmartItemId: 0125648
                              defaultShippingCountry: string
                            EBAY_US:
                              id: string
                              name: string
                              businessName: string
                              businessType: string
                              tradeRegisterNumber: string
                              vatNumbers:
                                - string
                              businessAddress: string
                              defaultShippingCountries:
                                - string
                              objectType: EBAY
                              offer:
                                price:
                                  currencyCode: USD
                                  amount: 0.0
                                priceSavings:
                                  amount:
                                    currencyCode: USD
                                    amount: 0.0
                                  percentage: 0.0
                                  pricePerUnit:
                                    currencyCode: USD
                                    amount: 0.0
                                deliveryInfo:
                                  shippingTypes:
                                    - string
                                  isFreeShippingEligible: true
                              ebayListingId: string
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
          appId: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
      description: Read our [Authentication](/docs/Making-a-request/Authentication.md) article
    appId:
      type: apiKey
      name: X-APP-ID
      in: header