openapi: 3.0.2
info:
  title: Products Categories API
  description: Products Categories API provides products by category (as specified by browseNodeId or googleCategoryId).
  termsOfService: 'https://algopix.com/policies'
  contact:
    name: Algopix Support
    email: support@algopix.com
  version: '1.5'
servers:
  - url: 'https://api.algopix.com'
    description: Algopix API

tags:
  - name: Products categories endpoints
    description: This API allows users to search for products within specified categories.
paths:
  /v3/async/categories/products:
    get:
      description: This is an asynchronous API endpoint. This endpoint return products that belong to the specified category (as specified by browseNodeId or googleCategoryId). Currently available only for Amazon US market. for The results may be retrieved from [Products categories results](../~1v3~1async~1categories~1products~1results/get).</br>Please notice our [“How to Handle an asynchronous Response”](/docs/Making-a-request/How-to-use-the-async-API.md) article.<br>[**Don't miss our schemas**](/docs/Making-a-request/Our-schemas.md)
      tags:
        - Products categories endpoints
      summary: Request Products categories
      operationId: request-products-category
      parameters:
        - name: browseNodeId
          in: query
          description: A valid Amazon node id that represents an Algopix category. A full list of Amazon ids can be found [here](https://algopix.com/taxonomy/amazon_browse_node_info_US.txt). Note, either pass a broseNodeId here or a googleCategoryId below.
          style: form
          required: true
          explode: true
          schema:
            type: string
        - name: googleCategoryId
          schema:
            type: string
          in: query
          description: Google category id to search. Note, either pass a googleCategoryId here or a broseNodeId above.
        - name: maxItems
          in: query
          description: Maximum number of items to return.
          required: false
          style: form
          explode: false
          schema:
            type: number
            maximum: 9600
        - name: query
          in: query
          description: Keywords search within a cateogry.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - schema:
            type: string
            enum:
              - PRODUCT_VARIANTS
              - IN_STOCK
          in: query
          name: resources
          description: This refines the search. PRODUCT_VARIANTS expands the search to find and analyze the variants of each product. IN_STOCK filters the in-stock items, it goes to the scrapper to get the products.
        - name: excludeBrowseNodeIds
          schema:
            type: string
          in: query
          style: form
          description: Specify browse node ids to exclude from the search. (See browseNodeId parameter).
        - schema:
            type: boolean
            example: true
          in: query
          name: searchExclusive
          description: True/false switch. If "search exclusive" is enabled, only products from this category will be retrieved.
        - schema:
            type: string
          in: query
          name: fromDate
          description: Search for products added to the category after the stated ISO date (time defaults to beginning of the day), e.g., '2020-01-22'.
        - schema:
            type: string
          in: query
          name: toDate
          description: Search for products added to the category before the ISO date (time defaults to end of day), e.g., '2020-01-22'.
      responses:
        '200':
          $ref: '../models/common/responses/statuscode200.v1.yaml'
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
          appId: []
  /v3/async/categories/products/results:
    get:
      description: This is an asynchronous API endpoint. This endpoint retrieves the results for the category analysis search from the endpoint [Request Products categories](../~1v3~1async~1categories~1products/get).</br>Please notice our [“How to Handle an asynchronous Response”](/docs/Making-a-request/How-to-use-the-async-API.md) article.<br>[**Don't miss our schemas**](/docs/Making-a-request/Our-schemas.md)
      tags:
        - Products categories endpoints
      summary: Products categories results
      operationId: products-category-results
      responses:
        '200':
          description: Success.</br>**Notice - our examples were generate with mock data**
          #          description: Success – category results returned. May contain multiple responses. Each product (result) is assigned with metadata and request id; representing the call that has been made in order to retrieve it while performing GET category/analysisAsync/.
          content:
            application/json:
              schema:
                $ref: ../models/products-categories/ProductCategoryResults.v1.0.yaml
              examples:
                Response Example:
                  value:
                    timestamp: 1610533241
                    status: SUCCESS
                    statusCode: 200
                    statusMessage: Ok
                    requestId: efb6cfea-4921-40c3-941a-7977d84f12f7
                    result:
                      - timestamp: 1610533193
                        status: SUCCESS
                        statusCode: 200
                        requestId: 60ff46fe-72b2-5a70-883a-316894c238ca
                        result:
                          aid: AIDSNOFJ1000
                          title: Hanes Men's Ecosmart Fleece Sweatshirt, Deep Red, 3XL
                          marketPrice:
                            currencyCode: USD
                            amount: 16.84
                          imageUrl: 'https://m.media-amazon.com/images/I/31jK3huCcGL._SL160_.jpg'
                      - timestamp: 1610533195
                        status: SUCCESS
                        statusCode: 200
                        requestId: 60ff46fe-72b2-5a70-883a-316894c238ca
                        result:
                          aid: AIDSNOFJ1001
                          title: 'TICONN Neck Gaiter (2 Pack), Outdoor Breathable Face Cover, Ideal for Hiking Running Cycling Motorcycle Ski Snowboard (Blue Paisley, 2)'
                          marketPrice:
                            currencyCode: USD
                            amount: 11.95
                          imageUrl: 'https://m.media-amazon.com/images/I/616MgnRMBgL._SL160_.jpg'
                      - timestamp: 1610533211
                        status: SUCCESS
                        statusCode: 200
                        requestId: 60ff46fe-72b2-5a70-883a-316894c238ca
                        result:
                          aid: AIDSNOFJ1002
                          title: Hanes Mens EcoSmart Hooded Sweatshirt (P170) -Fatigue GR -4XL
                          marketPrice:
                            currencyCode: USD
                            amount: 35.98
                          imageUrl: 'https://m.media-amazon.com/images/I/31QG7qEyYxL._SL160_.jpg'
                      - timestamp: 1610533214
                        status: SUCCESS
                        statusCode: 200
                        requestId: 60ff46fe-72b2-5a70-883a-316894c238ca
                        result:
                          aid: AIDSNOFJ1003
                          title: Hanes Women's V-Notch Pullover Fleece Sweatshirt, Bold Blue Heather, X Large
                          marketPrice:
                            currencyCode: USD
                            amount: 15.5
                          imageUrl: 'https://m.media-amazon.com/images/I/31IPfxh22DL._SL75_.jpg'
                      - timestamp: 1610533220
                        status: SUCCESS
                        statusCode: 200
                        requestId: 60ff46fe-72b2-5a70-883a-316894c238ca
                        result:
                          aid: AIDSNOFJ1004
                          title: Colorfulkoala Women's High Waisted Yoga Pants 7/8 Length Leggings with Pockets (M, Navy)
                          marketPrice:
                            currencyCode: USD
                            amount: 25
                          imageUrl: 'https://m.media-amazon.com/images/I/31Zrp6AChCL._SL160_.jpg'
                      - timestamp: 1610533221
                        status: SUCCESS
                        statusCode: 200
                        requestId: 60ff46fe-72b2-5a70-883a-316894c238ca
                        result:
                          aid: AIDSNOFJ1005
                          title: RockDove Men's Original Two-Tone Memory Foam Slipper, Size 13-14 US Men, Gray/Natural
                          marketPrice:
                            currencyCode: USD
                            amount: 23.99
                          imageUrl: 'https://m.media-amazon.com/images/I/41gEZFbyM8L.jpg'
                    asyncApiStatus:
                      jobsStatus:
                        49735783-e4c6-4260-bd13-7c46043bd54a:
                          ProgressStatus: DONE
                          jobResultsReadyForFetch: false
                      jobsProcessing: false
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
          appId: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
      description: Read our [Authentication](/docs/Making-a-request/Authentication.md) article
    appId:
      type: apiKey
      name: X-APP-ID
      in: header