openapi: 3.0.3
info:
  title: Search Engine Results Page
  description: 'Search Engine Results Page API provides a product list with the SERP ranking for the specified market and search terms, and may return the raw html results of a page or the raw html results of a page.'
  version: '1.0'
  contact:
    name: Algopix Support
    email: support@algopix.com
servers:
  - url: 'https://api.algopix.com'
tags:
  - name: Search engine results endpoints
paths:
  /v4/serp:
    summary: SERP search results with ranking.
    get:
      tags:
        - Search engine results endpoints
      summary: Get Search engine results
      description: |-
        This is a synchronous API endpoint. This endpoint searches a product list with the SERP ranking for the specified market and search terms.
        <br/>[**Don't miss our schemas**](/docs/Making-a-request/Our-schemas.md)
      operationId: get-search-engine
      parameters:
        - name: query
          in: query
          description: Item keywords to search by.
          required: false
          style: form
          explode: false
          schema:
            type: string
        - name: categoryId
          description: Unique identifier for a category.
          in: query
          style: form
          explode: false
          schema:
            type: string
        - name: market
          description: Currently only AMAZON_US market is supported
          in: query
          style: form
          explode: false
          required: true
          schema:
            type: string
            enum:
              - AMAZON_US
        - name: resources
          description: Resources is processing the results origin file in the specified format (html or image), which can be retrieved in the appropriate endpoint.
          in: query
          style: form
          explode: false
          schema:
            $ref: ../models/serp/SerpResource.v1.yaml
        - name: contextKey
          description: 'The context key is used to retrieve the following results pages. When sending a request, for retrieve the next pages you will need to send this key which was returned when making the initial request for products.'
          in: query
          explode: false
          style: form
          schema:
            type: string
          required: false
        - name: pageNumber
          description: The page number of the results to retreive. This parameter must be used in tandem with contextKey.
          in: query
          explode: false
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Success – search results returned.</br>**Notice - our examples were generate with mock data**
          content:
            application/json:
              schema:
                $ref: ../models/serp/SerpResponse.v1.yaml
              examples:
                Response Example:
                  value:
                    timestamp: 1628507562
                    status: SUCCESS
                    statusCode: 200
                    statusMessage: Ok
                    requestId: 28ce74bc-3b34-4166-9441-15b643993a2e
                    result:
                      contextKey: 28ce74bc-3b34-4166-9441-15b643993a2e
                      pageId: 2010_10_10_5f9b02dd-0c4e-4869-92cf-cc365eedf387
                      totalPages: 7
                      currentPage: 1
                      request:
                        market: AMAZON_US
                        query: string
                        categoryId: string
                        pageNumber: 0
                        resources:
                          - IMAGE
                          - HTML
                      products:
                        - productId: B00067LYHU
                          productIdType: ASIN
                          serpRank: 1
                          title: A168W-1 Casio Illuminator Watch
                          productPageUrl: https://www.amazon.com/dp/B00067LYHU
                          currentPrice:
                            currencyCode: USD
                            amount: 24.95
                          originalPrice:
                            currencyCode: USD
                            amount: 27.4
                          rating: 4.7
                          reviews: 985
                          isAmazonChoice: false
                          isBestSeller: true
                          isSponsored: false
                          imageUrl: https://m.media-amazon.com/images/I/71Un8PKS5LL._AC_UL320_.jpg
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
        - appId: []
  '/v4/serp/{pageId}/html':
    get:
      tags:
        - Search engine results endpoints
      summary: Get search engine html
      description: |-
        This endpoint retrieves the page's raw html results. Notice - you had to specify this resource in the [Get Search engine results](../~1v4~1serp/get) endpoint in order to retrieve its html.
      operationId: get-search-engine-html
      parameters:
        - name: pageId
          description: The pageId which has been retrieved through the [Get Search engine results](../~1v4~1serp/get) endpoint.
          in: path
          schema:
            type: string
          required: true
        - name: market
          description: currently only AMAZON_US market is supported
          in: query
          style: form
          explode: false
          required: true
          schema:
            $ref: ../models/common/Markets.v1.yaml
      responses:
        '200':
          description: Success - Return Html file.
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
        - appId: []
  '/v4/serp/{pageId}/image':
    get:
      tags:
        - Search engine results endpoints
      summary: Get search engine image
      description: |-
        This endpoint retrieves an image of the page's results.  Notice - you had to specify this resource in the [Get Search engine results](../~1v4~1serp/get) endpoint in order to retrieve its image.
      operationId: get-search-engine-image
      parameters:
        - name: pageId
          description: The pageId which has been retrieved through the [Get Search engine results](../~1v4~1serp/get) endpoint.
          in: path
          schema:
            type: string
          required: true
        - name: market
          description: currently only AMAZON_US market is supported
          in: query
          style: form
          explode: false
          required: true
          schema:
            $ref: ../models/common/Markets.v1.yaml
      responses:
        '200':
          description: Success - Return Image.
        '400':
          $ref: '../models/common/responses/statuscode400.v1.yaml'
        '401':
          $ref: '../models/common/responses/statuscode401.v1.yaml'
        '403':
          $ref: '../models/common/responses/statuscode403.v1.yaml'
        '429':
          $ref: '../models/common/responses/statuscode429.v1.yaml'
        '500':
          $ref: '../models/common/responses/statuscode500.v1.yaml'
      security:
        - apiKey: []
        - appId: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: X-API-KEY
      in: header
      description: Read our [Authentication](/docs/Making-a-request/Authentication.md) article
    appId:
      type: apiKey
      name: X-APP-ID
      in: header